.fl-videoPlayer {
    position: relative;    
}

.fl-videoPlayer-controller {
    background-color:rgba(0, 0, 0, 0.65);
    bottom:0;
    height:25px;
    overflow:hidden;
    padding:10px 0;
    position:absolute;
    width:100%;
	margin:-1px;
	border:1px solid #999;
	
}
.fl-videoPlayer-controller button {
	margin-left:10px;
}
.fl-player-scrubber {
	margin-top:5px;
	margin-right:10px;
	margin-left:100px;
}
.fl-player-caption {
	height:2em;
	padding:.25em 0;
	color:#666;
	font:normal 1em Arial, Helvetica, sans-serif;
	text-align:center;
}
