
/*
 * UI Options Panels styles
 */
@font-face {
    font-family: 'InfusionIcons-VP';
    src: url('../fonts/InfusionIcons-VideoPlayer.ttf'),
         url('../fonts/InfusionIcons-VideoPlayer.eot');
}
.fl-uiOptions .fl-icon-captions,
.fl-uiOptions .fl-icon-transcripts {
    font-family: 'InfusionIcons-VP' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    float:left;
    margin: 0.2em 0.3em 0 0;
    font-size: 2em;
}
.fl-uiOptions .fl-icon-captions:before {
    content: "\e000";
}
.fl-uiOptions .fl-icon-transcripts:before {
    content: "\e001";
}
.fl-uiOptions-caption-language,
.fl-uiOptions-transcript-language {
    margin-left: 7em;
    width: 12em;
}
