/*
 * Videoplayer container
 */

.fl-videoPlayer:focus,
.fl-videoPlayer :focus {
    /* TODO: This is a temporary style, to be replaced when we have the final designs */
    border: 1px solid red;
}

/*
* Video and Controller area
*/

.fl-videoPlayer-video-controller-area {
    float: left;
    position: relative;
}

/*
* Video area
*/

.fl-videoPlayer-video {
	width: 100%;
	height: 100%;
}

/*
 * Controller area
 */
 
.fl-videoPlayer-tooltip {
    position    : absolute;
    padding     : 3px 5px;
}

.fl-videoPlayer-controller {
    width:100%;
    position: absolute;
    bottom: 0;
}

.fl-videoPlayer-button {
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
}

.fl-videoPlayer-controller-buttons .fl-videoPlayer-button,
.fl-videoPlayer-controller-buttons .fl-videoPlayer-button:hover {
    background-size: cover;
}

.fl-videoPlayer-controller-buttons .fl-videoPlayer-button:hover {
    background-color: rgba(153, 153, 153, 0.45);
    box-shadow: inset 0 0 0.25em rgba(0, 0, 0, 0.30);
}

.fl-videoPlayer-controller-buttons { 
    background-color: rgba(242, 242, 242, 0.75);
    width: 100%;
    height: 2.05em;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.15);
}

.fl-videoPlayer-controller-buttons * {
    display: inline;
}

.fl-videoPlayer-controller-buttons > div {
    height: 100%;
}

.fl-videoPlayer-controller-buttons-main {
    float: left;
}

.fl-videoPlayer-controller-buttons-secondary {
    float: right;
}

a.fl-videoPlayer-button-wrapper {
    text-decoration: none;
}

/*
 * Play button
 */
.fl-videoPlayer-play {
    background: url('../images/play.png') no-repeat center center;
}

.fl-videoPlayer-play:hover {
    background: url('../images/play_hover.png') no-repeat center center;
}

.fl-videoPlayer-playing {
    background-image: url('../images/pause.png');
}

.fl-videoPlayer-playing:hover {
    background-image: url('../images/pause_hover.png');
}

/*
 * Fullscreen button
 */
.fl-videoPlayer-fullscreen {
    background: url('../images/fullscreen.png') no-repeat center center;
}

.fl-videoPlayer-fullscreen:hover {
    background: url('../images/fullscreen_hover.png') no-repeat center center;
}

.fl-videoPlayer-fullscreen-on {
    background-image: url('../images/smallscreen.png');
}

.fl-videoPlayer-fullscreen-on:hover {
    background-image: url('../images/smallscreen_hover.png');
}

/*
 * Volume controls
 */
.fl-videoPlayer-mute {
    background: url('../images/volume.png') no-repeat center center;
}

.fl-videoPlayer-muted {
    background-image: url('../images/volume_off.png');
}

.fl-videoPlayer-volumeContainer {
    position: relative;
}

.fl-videoPlayer-volumeControl {
    display: none;
    position: absolute;
    bottom: 23px;
    right: 15px;
    width: 25%;
}

.fl-videoPlayer-volumeControl.ui-corner-all {
    border-radius: 0px 0px 0px 0px;
}

.fl-videoPlayer-volumeControl .ui-slider-handle {
    height: 10%;
    left: -0.4em;
}

.fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-volumeControl,
.fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-volumeControl {
    display: inline;
}

/*
 * Language menus
 * colours are temporary
 */
.fl-videoPlayer-languageMenu * {
    display: block;
}
.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem:hover {
    color: yellow;
}
.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem-selected,
.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem-active.fl-videoPlayer-menuItem-selected {
    color: orange;
}
.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem-active {
    color: green;
}

/*
 * Caption controls
 */
.fl-videoPlayer-captions-button {
    background: url('../images/captions.png') no-repeat center center;
}

.fl-videoPlayer-captions-button:hover {
    background: url('../images/captions_hover.png') no-repeat center center;
}

.fl-videoPlayer-captions-button.fl-videoPlayer-caption-active {
    background-color: orange;
}
.fl-videoPlayer-captions-button.fl-videoPlayer-caption-active:hover {
    background-color: wheat;
}

ul.fl-videoPlayer-captions-languageList,
ul.fl-videoPlayer-captions-languageList li {
    display: block;
}
ul.fl-videoPlayer-captions-languageList .fl-videoPlayer-caption-selected {
    color: yellow;
}

/*
 * transcript controls
 */
.fl-videoPlayer-transcripts-button {
    background: url('../images/transcript.png') no-repeat center center;
}

.fl-videoPlayer-transcripts-button:hover {
    background: url('../images/transcript_hover.png') no-repeat center center;
}

.fl-videoPlayer-transcripts-button.fl-videoPlayer-transcript-active {
    background-color: orange;
}
.fl-videoPlayer-transcripts-button.fl-videoPlayer-transcript-active:hover {
    background-color: wheat;
}

ul.fl-videoPlayer-transcripts-languageList,
ul.fl-videoPlayer-transcripts-languageList li {
    display: block;
}
ul.fl-videoPlayer-transcripts-languageList .fl-videoPlayer-transcript-selected {
    color: yellow;
}

.fl-videoPlayer-transcripts-close-button {
    background: #fff url('../images/transcriptclose.png') no-repeat center center;
}

.fl-videoPlayer-transcripts-close-button:hover {
    background: #fff url('../images/transcriptclose_hover.png') no-repeat center center;
}

/*
 * Scrub bar controls
 */
.fl-videoPlayer-scrubberContainer {
    width: 100%;
    text-align: center;
    margin-bottom: -0.4em;
}
.fl-videoPlayer-scrubberContainer * {
    margin: auto;
    display: inline-block;
}

.fl-videoPlayer-scrubber {
    width: 100%;
}

.fl-videoPlayer-scrubber.ui-widget-content {
    background: rgba(204, 204, 204, 0.6);
    border-width: 0;
    border-top: 1px solid #fff;
}

.fl-videoPlayer-scrubber .ui-slider-handle {
    width: 3em;
    margin-left: -1.5em;
    margin-top: -0.9em;
    background: rgba(0, 0, 0, 0);
    border-width: 0px 0px 0px 0px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.fl-videoPlayer-scrubber .ui-slider-handle > span {
    font-size: 50%;
    background-color: #000;
    padding: 0 5% 0 5%;
}

.fl-videoPlayer-time {
    height: 100%;
}

.fl-videoPlayer-scrubber.ui-corner-all {
    border-radius: 0px 0px 0px 0px;
}

.fl-videoPlayer-scrubber .ui-slider-range {
     background: -moz-linear-gradient(0deg, #ffcc00, #f8e211);
     background: -webkit-linear-gradient(0deg, #ffcc00, #f8e211);
     background: -ms-linear-gradient(0deg, #ffcc00, #f8e211);
     background: -o-linear-gradient(0deg, #ffcc00, #f8e211);
}

/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
/*     This just a quick hack to make captions appear above the scrub bar before we make a proper divs */
    bottom: 6em;
    position: relative;
    text-align:center;
}

.fl-videoPlayer-caption-captionText {
    color: white;
    background-color: black;
    opacity: 0.7;
}

.fl-videoPlayer-controller-menu-captions {
    display: block;
    position: absolute;
    bottom: -40px;
    z-index: 101;   /* To make our div showin on top since captionator has 100 so */
}

/*
 * Transcript area
 */
 
.fl-videoPlayer-transcriptArea {
    float: left;
    border: 1px solid black;
    width: 15em;
}

.fl-videoPlayer-transcripts-language-dropdown {
    float: left;
    margin: 1em;
    width: 65%;
}

.fl-videoPlayer-transcripts-close-button {
    float: right;
    margin: 0.2em;
}

.fl-videoPlayer-transcript-text {
    margin-top: 2em;
    word-spacing: 0.1em;
    padding: 1em;
    overflow: scroll;
    height: 83%;
    width: 85%;
}
.fl-videoPlayer-transcript-element-highlight {
    color: white;
    background-color: #0099CC;
    padding: 0.2em;
}

/**********************
 * Captionator Styles *
 **********************/
 
/*
 * Pass clicks through captionator.DIV.element to the underlying video
*/
.captionator-cue-canvas {
    pointer-events:none;
    color: #FFFFFF;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/

.fl-theme-uio-wb .ui-state-active .ui-button-text,
.fl-theme-uio-wb .ui-state-active .ui-icon,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #fff !important;
}

.fl-theme-uio-bw .ui-state-active .ui-button-text,
.fl-theme-uio-bw .ui-state-active .ui-icon,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-icon,
.fl-theme-uio-by .ui-state-active .ui-button-text,
.fl-theme-uio-by .ui-state-active .ui-icon,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-icon {
    background-color: #000 !important;
}

.fl-theme-uio-yb .ui-state-active .ui-button-text,
.fl-theme-uio-yb .ui-state-active .ui-icon,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #ff0 !important;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller {
    background-color: black !important;
}
.fl-theme-uio-bw .fl-videoPlayer-controller,
.fl-theme-uio-by .fl-videoPlayer-controller,
.fl-theme-uio-bw .fl-videoPlayer-button,
.fl-theme-uio-by .fl-videoPlayer-button {
    border: 1px solid black;
}
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller,
.fl-theme-uio-wb .fl-videoPlayer-button,
.fl-theme-uio-yb .fl-videoPlayer-button {
    background-color: black;
}
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-wb .fl-videoPlayer-button {
    border: 1px solid white;
}
.fl-theme-uio-yb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-button {
    border: 1px solid yellow;
}
/*
.fl-theme-uio-bw .fl-videoPlayer-play,
.fl-theme-uio-by .fl-videoPlayer-play {
    background-image: url('../images/play-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-play {
    background-image: url('../images/play-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-play {
    background-image: url('../images/play-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-playing,
.fl-theme-uio-by .fl-videoPlayer-playing {
    background-image: url('../images/pause-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-playing {
    background-image: url('../images/pause-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-playing {
    background-image: url('../images/pause-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-fullscreen,
.fl-theme-uio-by .fl-videoPlayer-fullscreen {
    background-image: url('../images/fullscreen-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-fullscreen {
    background-image: url('../images/fullscreen-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-fullscreen {
    background-image: url('../images/fullscreen-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-fullscreen-on,
.fl-theme-uio-by .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-mute,
.fl-theme-uio-by .fl-videoPlayer-mute {
    background-image: url('../images/volume-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-mute {
    background-image: url('../images/volume-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-mute {
    background-image: url('../images/volume-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-muted,
.fl-theme-uio-by .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-captions-button,
.fl-theme-uio-by .fl-videoPlayer-captions-button {
    background-image: url('../images/captions-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-captions-button {
    background-image: url('../images/captions-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-captions-button {
    background-image: url('../images/captions-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-transcripts-button,
.fl-theme-uio-by .fl-videoPlayer-transcripts-button {
    background-image: url('../images/transcripts-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-transcripts-button {
    background-image: url('../images/transcripts-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-transcripts-button {
    background-image: url('../images/transcripts-white.png');
}
*/
.fl-theme-uio-wb .fl-videoPlayer-caption-captionText,
.fl-theme-uio-yb .fl-videoPlayer-caption-captionText {
    background-color: black;
}
.fl-theme-uio-bw .fl-videoPlayer-caption-captionText,
.fl-theme-uio-by .fl-videoPlayer-caption-captionText {
    color: black;
}
.fl-theme-uio-wb .fl-videoPlayer-caption-captionText {
    color: white;
}
.fl-theme-uio-bw .fl-videoPlayer-caption-captionText {
    background-color: white;
}
.fl-theme-uio-by .fl-videoPlayer-caption-captionText {
    background-color: yellow;
}
.fl-theme-uio-yb .fl-videoPlayer-caption-captionText {
    color: yellow;
}

.fl-theme-uio-bw .fl-videoPlayer-transcript-element-highlight {
    background-color: black !important;
    color: white !important;
}
.fl-theme-uio-wb .fl-videoPlayer-transcript-element-highlight {
    background-color: white !important;
    color: black !important;
}
.fl-theme-uio-yb .fl-videoPlayer-transcript-element-highlight {
    background-color: yellow !important;
    color: black !important;
}
.fl-theme-uio-by .fl-videoPlayer-transcript-element-highlight {
    background-color: black !important;
    color: yellow !important;
}
