/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
}

/*
* Video area
*/

.fl-videoPlayer-video {
}

/*
 * Controller area
 */
 
.fl-videoPlayer-controller {
    width:100%;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.fl-videoPlayer-controller * {
    display: inline-block;
    margin: auto;
}

.fl-videoPlayer-controller-time {
    margin: 0 5px;
    padding: 0.4em;
    line-height: 1.4;
    font-size: 1.1em;
    height: 100%
    text-align: center;
}

.fl-videoPlayer-controller-scrubberContainer {
    width: 55%;
}

.fl-videoPlayer-controller-menu-captions {
    display: block;
    position: absolute;
    bottom: 50px;
    width: 30%;
    
}


/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    bottom:10%;
    position: absolute;
    text-align:center;
    color: white;
    width:100%;
}

/*
* mods to the coal theme
*/

.fl-videoPlayer-controller-scrubber {
    width: 100%;
}

