/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
}
.fl-videoPlayer:focus,
.fl-videoPlayer :focus {
    /* TODO: This is a temporary style, to be replaced when we have the final designs */
    border: 1px solid red;
}

/*
* Video area
*/

.fl-videoPlayer-video {
	width: 100%;
	height: 100%;
}

/*
 * Controller area
 */
 
.fl-videoPlayer-tooltip {
    position    : absolute;
    border      : 1px solid #CCCCCC;
    padding     : 3px 5px;
}

.fl-videoPlayer-controller {
    width:100%;
    text-align: center;
    background-color: gray;
}

.fl-videoPlayer-controller * {
    display: inline-block;
    margin: auto;
}

/*
 * Play button
 */
.fl-videoPlayer-playing, .fl-videoPlayer-paused {
    width: 16px;
    height: 16px;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
}
.fl-videoPlayer-paused {
    background-image: url('../images/play.png');
}
.fl-videoPlayer-playing {
    background-image: url('../images/pause.png');
}

/*
 * Fullscreen button
 */
.fl-videoPlayer-fullscreen-off, .fl-videoPlayer-fullscreen-on {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.fl-videoPlayer-fullscreen-off {
    background-image: url('../images/fullscreen.png');
}
.fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-exit.png');
}
.fl-videoPlayer-fullscreen-off:hover, .fl-videoPlayer-fullscreen-off:focus {
    background-image: url('../images/fullscreen-hover.png');
}
.fl-videoPlayer-fullscreen-on:hover, .fl-videoPlayer-fullscreen-on:focus {
    background-image: url('../images/fullscreen-exit-hover.png');
}

/*
 * Volume controls
 */
.fl-videoPlayer-mute {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-image: url('../images/volume.png');
}
.fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-mute,
.fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-mute {
    background-image: url('../images/volume-active.png');
}
.fl-videoPlayer-muted {
    background-image: url('../images/volume-muted.png');
}
.fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-muted,
.fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-active.png');
}
.fl-videoPlayer-volumeControl {
    display: none;
    z-index: 100;
}
.fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-volumeControl,
.fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-volumeControl {
    display: block;
}


/*
 * Caption controls
 */
.fl-videoPlayer-captions-button {
    width: 34px;
    height: 34px;
    cursor: pointer;
    background-image: url('../images/captions.png');
}
.fl-videoPlayer-captions-button.fl-videoPlayer-caption-active {
    background-image: url('../images/captions-active.png');
}
ul.fl-videoPlayer-captions-languageList,
ul.fl-videoPlayer-captions-languageList li {
    display: block;
}
ul.fl-videoPlayer-captions-languageList li input {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
ul.fl-videoPlayer-captions-languageList .fl-videoPlayer-caption-selected {
    color: yellow;
}
.fl-videoPlayer-time {
    /*margin: 0 5px;
    */padding: 0.4em;
    line-height: 1.4;
    font-size: 1.1em;
    height: 100%;
    text-align: center;
}

/*
 * Scrub bar controls
 */
.fl-videoPlayer-scrubberContainer {
    width: 100%;
}
.fl-videoPlayer-scrubberContainer * {
    margin: auto;
    display: inline-block;
}

.fl-videoPlayer-menu-captions {
    display: block;
    position: absolute;
    bottom: -40px;
}


/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    bottom:1.5em;
    position: relative;
    text-align:center;
}

.fl-videoPlayer-caption-captionText {
    color: white;
    background-color: black;
    opacity: 0.7;
}
/*
* mods to the coal theme
*/

.fl-videoPlayer-scrubber {
    width: 60%;
}

