/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
}
.fl-videoPlayer:focus,
.fl-videoPlayer :focus {
    /* TODO: This is a temporary style, to be replaced when we have the final designs */
    border: 1px solid red;
}

/*
* Video area
*/

.fl-videoPlayer-video {
}

/*
 * Controller area
 */
 
.fl-videoPlayer-tooltip {
    position    : absolute;
    border      : 1px solid #CCCCCC;
    padding     : 3px 5px;
}

.fl-videoPlayer-controller {
    width:100%;
    margin: 10px;
    text-align: center;
    background-color: gray;
}

.fl-videoPlayer-controller * {
    display: inline-block;
    margin: auto;
}

.fl-videoPlayer-playing, .fl-videoPlayer-paused {
    width: 16px;
    height: 16px;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
}
.fl-videoPlayer-paused {
    background-image: url('../images/play.png');
}
.fl-videoPlayer-playing {
    background-image: url('../images/pause.png');
}

.fl-videoPlayer-time {
    /*margin: 0 5px;
    */padding: 0.4em;
    line-height: 1.4;
    font-size: 1.1em;
    height: 100%;
    text-align: center;
}

.fl-videoPlayer-scrubberContainer {
    width: 100%;
}
.fl-videoPlayer-scrubberContainer * {
    margin: auto;
    display: inline-block;
}

.fl-videoPlayer-volumeControl {
    display: block;
    position: absolute;
    bottom: -40px;
    z-index: 100;
}

.fl-videoPlayer-menu-captions {
    display: block;
    position: absolute;
    bottom: -40px;
}


/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    bottom:0;
    left: 20%;
    right: 20%;
    position: absolute;
    text-align:center;
}

.fl-videoPlayer-caption-captionText {
    color: white;
    background-color: black;
    opacity: 0.7;
}
/*
* mods to the coal theme
*/

.fl-videoPlayer-scrubber {
    width: 60%;
}

