/*
 * Temporary colours:
 *   hover: yellow
 *   focus: orange
 *   active: green
 *   slider handle: blue
 */

/*
 * Slider styles
 */
.fl-videoPlayer .fl-slider {
    position: relative;
    text-align: left;
}
.fl-videoPlayer .fl-slider-horz {
    height: 0.8em;
}
.fl-videoPlayer-theme .fl-videoPlayer .fl-slider {
    border: 1px solid #dddddd;
    background-color: #EEEEEE;
    color: #333333;
}
.fl-videoPlayer .fl-slider a {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 0.2em;
    height: 0.8em;
    margin-left: 0;
    cursor: default;
}
.fl-videoPlayer-theme .fl-videoPlayer .fl-slider a {
    background-color: blue;
}
.fl-videoPlayer .fl-slider .ui-slider-range {
    border: 0;
    z-index: 1;
    margin-left: 0;
}
.fl-videoPlayer .fl-slider-horz .ui-slider-range {
    height: 100%;
}
.fl-videoPlayer-theme .fl-videoPlayer .fl-slider .ui-slider-range {
    background-color: orange;
}

/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
}

/*
* Video area
*/

.fl-videoPlayer-video {
	width: 100%;
	height: 100%;
}
img.fl-videoPlayer-initialOverlay {
    position: absolute;
    top: 45%;
    left: 45%;
}
/*
 * Controller area
 */
.fl-videoPlayer-bottom {
    position: absolute;
    bottom: 0;
    width:100%;
}
.fl-videoPlayer-controller {
    padding-bottom: 0.5em;
}
.fl-videoPlayer-bottomButtons {
    margin-top: 0.3em;
}
.fl-videoPlayer-leftButtons * {
    display: inline-block;
    float: left;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}
.fl-videoPlayer-rightButtons * {
    float: right;
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}
.fl-videoPlayer-tooltip {
    position    : absolute;
    padding     : 3px 5px;
}
.fl-videoPlayer-button {
    width: 3em;
    height: 3em;
    border: 0;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.fl-videoPlayer-theme .fl-videoPlayer-button:hover,
.fl-videoPlayer-theme .fl-videoPlayer-button:focus:hover {
    background-color: yellow;
}
.fl-videoPlayer-theme .fl-videoPlayer-button:focus {
    background-color: orange;
}

/*
 * Play button
 */
.fl-videoPlayer-theme .fl-videoPlayer-play {
    background: #ffffff url('../images/play-black.png') no-repeat center center;
}
.fl-videoPlayer-theme .fl-videoPlayer-playing {
    background-image: url('../images/pause-black.png');
    background-color: green;
}

/*
 * Fullscreen button
 */
.fl-videoPlayer-theme .fl-videoPlayer-fullscreen {
    background: #ffffff url('../images/fullscreen-black.png') no-repeat center center;
}
.fl-videoPlayer-theme .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-black.png');
    background-color: green;
}

/*
 * Volume controls
 */
.fl-videoPlayer-theme .fl-videoPlayer-mute {
    background: #ffffff url('../images/volume-black.png') no-repeat center center;
}
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-mute,
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-muted,
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer:focus:hover .fl-videoPlayer-mute,
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer:focus:hover .fl-videoPlayer-muted {
    background-color: yellow;
}
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-mute,
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-muted {
    background-color: orange;
}
.fl-videoPlayer-theme .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-black.png');
}
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer .fl-videoPlayer-muted,
.fl-videoPlayer-theme .fl-videoPlayer-volumeContainer .fl-videoPlayer-muted {
    background-color: green;
}
.fl-videoPlayer-volumeControl {
    display: none;
    width: 8em;
}
.fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-volumeControl,
.fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-volumeControl {
    display: inline-block;
}


/*
 * Caption controls
 */
.fl-videoPlayer-theme .fl-videoPlayer-captions-button {
    background: #ffffff url('../images/captions-black.png') no-repeat center center;
}
.fl-videoPlayer-theme .fl-videoPlayer-captions-button.fl-videoPlayer-caption-active:hover,
.fl-videoPlayer-theme .fl-videoPlayer-captions-button.fl-videoPlayer-caption-active:focus:hover {
    background-color: yellow;
}
.fl-videoPlayer-theme .fl-videoPlayer-captions-button.fl-videoPlayer-caption-active:focus {
    background-color: orange;
}
.fl-videoPlayer-theme .fl-videoPlayer-captions-button.fl-videoPlayer-caption-active {
    background-color: green;
}

ul.fl-videoPlayer-captions-languageList {
    position: absolute;
    bottom: 3em;
    padding-left: 0;
}

ul.fl-videoPlayer-captions-languageList,
ul.fl-videoPlayer-captions-languageList li {
    display: block;
}
.fl-videoPlayer-theme .fl-videoPlayer-captions-languageList {
    background: #FFFFFF;
}
.fl-videoPlayer-theme ul.fl-videoPlayer-captions-languageList .fl-videoPlayer-caption-selected {
    color: orange;
}
.fl-videoPlayer-time {
    padding: 0.1em;
    line-height: 1.4;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 0.3em;
}
.fl-videoPlayer-theme .fl-videoPlayer-time {
    background-color: white;
    color: black;
}
/*
 * Scrub bar controls
 */
.fl-videoPlayer-scrubberContainer .ui-slider-handle {
    width: 0.1em;
    margin-left: 0;
}
.fl-videoPlayer-theme .fl-videoPlayer-scrubberContainer .ui-slider-handle:hover {
    background: yellow;
    border-color: yellow;
}
.fl-videoPlayer-theme .fl-videoPlayer-scrubberContainer .ui-slider-handle:focus {
    background: orange;
    border-color: orange;
}

.fl-videoPlayer-menu-captions {
    display: block;
    position: absolute;
}


/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    text-align:center;
}

.fl-videoPlayer-theme .fl-videoPlayer-caption-captionText {
    color: white;
    background-color: black;
    opacity: 0.7;
}
/*
* mods to the coal theme
*/

.fl-videoPlayer-scrubber {
    width: 100%;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/

.fl-theme-uio-wb .ui-state-active .ui-button-text,
.fl-theme-uio-wb .ui-state-active .ui-icon,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #fff !important;
}

.fl-theme-uio-bw .ui-state-active .ui-button-text,
.fl-theme-uio-bw .ui-state-active .ui-icon,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-icon,
.fl-theme-uio-by .ui-state-active .ui-button-text,
.fl-theme-uio-by .ui-state-active .ui-icon,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-icon {
    background-color: #000 !important;
}

.fl-theme-uio-yb .ui-state-active .ui-button-text,
.fl-theme-uio-yb .ui-state-active .ui-icon,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #ff0 !important;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller {
    background-color: black !important;
}
.fl-theme-uio-bw .fl-videoPlayer-controller,
.fl-theme-uio-by .fl-videoPlayer-controller,
.fl-theme-uio-bw .fl-videoPlayer-button,
.fl-theme-uio-by .fl-videoPlayer-button {
    border: 1px solid black;
}
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller,
.fl-theme-uio-wb .fl-videoPlayer-button,
.fl-theme-uio-yb .fl-videoPlayer-button {
    background-color: black;
}
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-wb .fl-videoPlayer-button {
    border: 1px solid white;
}
.fl-theme-uio-yb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-button {
    border: 1px solid yellow;
}

.fl-theme-uio-bw .fl-videoPlayer-play,
.fl-theme-uio-by .fl-videoPlayer-play {
    background-image: url('../images/play-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-play {
    background-image: url('../images/play-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-play {
    background-image: url('../images/play-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-playing,
.fl-theme-uio-by .fl-videoPlayer-playing {
    background-image: url('../images/pause-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-playing {
    background-image: url('../images/pause-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-playing {
    background-image: url('../images/pause-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-fullscreen,
.fl-theme-uio-by .fl-videoPlayer-fullscreen {
    background-image: url('../images/fullscreen-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-fullscreen {
    background-image: url('../images/fullscreen-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-fullscreen {
    background-image: url('../images/fullscreen-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-fullscreen-on,
.fl-theme-uio-by .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/fullscreen-on-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-mute,
.fl-theme-uio-by .fl-videoPlayer-mute {
    background-image: url('../images/volume-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-mute {
    background-image: url('../images/volume-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-mute {
    background-image: url('../images/volume-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-muted,
.fl-theme-uio-by .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-muted {
    background-image: url('../images/volume-muted-white.png');
}
.fl-theme-uio-bw .fl-videoPlayer-captions-button,
.fl-theme-uio-by .fl-videoPlayer-captions-button {
    background-image: url('../images/captions-black.png');
}
.fl-theme-uio-yb .fl-videoPlayer-captions-button {
    background-image: url('../images/captions-yellow.png');
}
.fl-theme-uio-wb .fl-videoPlayer-captions-button {
    background-image: url('../images/captions-white.png');
}

.fl-theme-uio-wb .fl-videoPlayer-caption-captionText,
.fl-theme-uio-yb .fl-videoPlayer-caption-captionText {
    background-color: black;
}
.fl-theme-uio-bw .fl-videoPlayer-caption-captionText,
.fl-theme-uio-by .fl-videoPlayer-caption-captionText {
    color: black;
}
.fl-theme-uio-wb .fl-videoPlayer-caption-captionText {
    color: white;
}
.fl-theme-uio-bw .fl-videoPlayer-caption-captionText {
    background-color: white;
}
.fl-theme-uio-by .fl-videoPlayer-caption-captionText {
    background-color: yellow;
}
.fl-theme-uio-yb .fl-videoPlayer-caption-captionText {
    color: yellow;
}
.fl-theme-uio-bw .fl-videoPlayer-controller,
.fl-theme-uio-by .fl-videoPlayer-controller,
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller {
    border: none;
}

