.fl-videoPlayer {
    font-family: sans-serif;
}

/*
* Video and Controller area
*/

.fl-videoPlayer-video-controller-area {
    float: left;
    position: relative;
}

/*
* Video area
*/

.fl-videoPlayer-video {
	width: 100%;
	height: 100%;
}

/*
 * Controller area
 */
 
.fl-videoPlayer-tooltip {
    position    : absolute;
    padding     : 3px 5px;
}

.fl-videoPlayer-controller {
    width:100%;
    bottom: 0;
}


/***********
 * Buttons *
 ***********/
 
.fl-videoPlayer-button {
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.fl-videoPlayer-controller-buttons .fl-videoPlayer-button,
.fl-videoPlayer-controller-buttons .fl-videoPlayer-button:hover {
    background-size: cover;
}

.fl-videoPlayer-controller-buttons .fl-videoPlayer-button:hover {
    background-color: rgba(153, 153, 153, 0.45);
    box-shadow: inset 0 0 0.25em rgba(0, 0, 0, 0.30);
}

.fl-videoPlayer-controller-buttons { 
    background-color: rgba(242, 242, 242, 0.75);
    width: 100%;
    height: 2.05em;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.15);
}

.fl-videoPlayer-controller-buttons * {
    display: inline;
}

.fl-videoPlayer-controller-buttons > div {
    height: 100%;
}

.fl-videoPlayer-controller-buttons-main {
    float: left;
}

.fl-videoPlayer-controller-buttons-secondary {
    float: right;
}

a.fl-videoPlayer-button-wrapper {
    text-decoration: none;
}

/* Play button */
.fl-videoPlayer-play {
    background-image: url('../images/default/play.png');
}

.fl-videoPlayer-play:hover {
    background-image: url('../images/default/play_hover.png');
}

.fl-videoPlayer-playing {
    background-image: url('../images/default/pause.png');
}

.fl-videoPlayer-playing:hover {
    background-image: url('../images/default/pause_hover.png');
}

/* Fullscreen button */
.fl-videoPlayer-fullscreen {
    background-image: url('../images/default/fullscreen.png');
}

.fl-videoPlayer-fullscreen:hover {
    background-image: url('../images/default/fullscreen_hover.png');
}

.fl-videoPlayer-fullscreen-on {
    background-image: url('../images/default/smallscreen.png');
}

.fl-videoPlayer-fullscreen-on:hover {
    background-image: url('../images/default/smallscreen_hover.png');
}

/* Volume button */
.fl-videoPlayer-mute {
    background-image: url('../images/default/volume.png');
}

.fl-videoPlayer-muted {
    background-image: url('../images/default/volume_off.png');
}

/* Captions button */
.fl-videoPlayer-captions-button {
    background-image: url('../images/default/captions.png');
}

.fl-videoPlayer-captions-button:hover {
    background-image: url('../images/default/captions_hover.png');
}

/* Transcript button */
.fl-videoPlayer-transcripts-button {
    background-image: url('../images/default/transcript.png');
}

.fl-videoPlayer-transcripts-button:hover {
    background-image: url('../images/default/transcript_hover.png');
}


/******************
 * Volume Control *
 ******************/
 
.fl-videoPlayer-volumeContainer {
    position: relative;
}

.fl-videoPlayer-volumeControl {
    display: none;
    position: absolute;
    bottom: 23px;
    right: 15px;
    width: 25%;
}

.fl-videoPlayer-volumeControl.ui-corner-all {
    border-radius: 0px 0px 0px 0px;
}

.fl-videoPlayer-volumeControl .ui-slider-handle {
    height: 10%;
    left: -0.4em;
}

.fl-videoPlayer-volumeContainer:hover .fl-videoPlayer-volumeControl,
.fl-videoPlayer-volumeContainer:focus .fl-videoPlayer-volumeControl {
    display: inline;
}


/**********************************
 * Captions and Transcripts Menus *
 **********************************/
 
.fl-videoPlayer-languageMenu {
    position: absolute;
    bottom: 2.5em;
    padding: 0;
    width: 10em;
    font-size: 0.8em;
    background: #f2f2f2;
    z-index: 2;
}

/* TODO: This is a temporary workaround to an absolute positioning issue with the menu buttons */
.fl-videoPlayer-captions .fl-videoPlayer-languageMenu {
    margin-left: -3.5em;
}

.fl-videoPlayer-transcript .fl-videoPlayer-languageMenu {
    margin-left: -1em;
}

.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem {
    display: block;
    background: #fff;
    width: 81%;
    padding: 5% 5% 5% 10%;
    margin: 2% 0 0% 2%;
}

.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem:hover,
.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem-selected,
.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem-active.fl-videoPlayer-menuItem-selected {
    background-color: #ffcc00;
}

.fl-videoPlayer-languageMenu .fl-videoPlayer-menuItem-active {
    background: #fff;
    font-weight: bold;
}

ul.fl-videoPlayer-captions-languageList,
ul.fl-videoPlayer-captions-languageList li,
ul.fl-videoPlayer-transcripts-languageList,
ul.fl-videoPlayer-transcripts-languageList li {
    display: block;
}


/************
 * Scrubber *
 ************/
 
.fl-videoPlayer-scrubberContainer {
    width: 100%;
    text-align: center;
    margin-bottom: -0.4em;
}
.fl-videoPlayer-scrubberContainer * {
    margin: auto;
    display: inline-block;
}

.fl-videoPlayer-scrubber {
    width: 100%;
}

.fl-videoPlayer-scrubber.ui-widget-content {
    background: rgba(204, 204, 204, 0.6);
    border-width: 0;
    border-top: 1px solid #fff;
}

.fl-videoPlayer-scrubber .ui-slider-handle {
    width: 3em;
    margin-left: -1.5em;
    margin-top: -0.9em;
    background: rgba(0, 0, 0, 0);
    border-width: 0px 0px 0px 0px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.fl-videoPlayer-scrubber .ui-slider-handle > span {
    font-size: 50%;
    background-color: #000;
    padding: 0 5% 0 5%;
}

.fl-videoPlayer-time {
    height: 100%;
}

.fl-videoPlayer-scrubber.ui-corner-all {
    border-radius: 0px 0px 0px 0px;
}

.fl-videoPlayer-scrubber .ui-slider-range {
     background: -moz-linear-gradient(0deg, #ffcc00, #f8e211);
     background: -webkit-linear-gradient(0deg, #ffcc00, #f8e211);
     background: -ms-linear-gradient(0deg, #ffcc00, #f8e211);
     background: -o-linear-gradient(0deg, #ffcc00, #f8e211);
}

/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    text-align:center;
    position: relative;
    bottom: 1.1em;
}

.fl-videoPlayer-overlay {
    bottom: 0em;
    position: absolute;
    width: 100%;
}

.fl-videoPlayer-caption-captionText {
    color: white;
    background-color: black;
    opacity: 0.7;
}

.fl-videoPlayer-controller-menu-captions {
    display: block;
    position: absolute;
    bottom: -40px;
    z-index: 101;   /* To make our div showin on top since captionator has 100 so */
}


/*
 * Transcript area
 */
 
.fl-videoPlayer-transcriptArea {
    float: left;
    border: 1px solid black;
    width: 15em;
}

.fl-videoPlayer-transcripts-language-dropdown {
    float: left;
    margin: 1em;
    width: 65%;
}

.fl-videoPlayer-transcripts-close-button {
    float: right;
    margin: 0.2em;
}

.fl-videoPlayer-transcript-text {
    margin-top: 2em;
    word-spacing: 0.1em;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
    height: 73%;
    width: 85%;
}
.fl-videoPlayer-transcript-element-highlight {
    color: white;
    background-color: #0099CC;
    padding: 0.2em;
}

.fl-videoPlayer-transcripts-close-button {
    background: #fff url('../images/default/transcriptclose.png') no-repeat center center;
}

.fl-videoPlayer-transcripts-close-button:hover {
    background: #fff url('../images/default/transcriptclose_hover.png') no-repeat center center;
}


/**********************
 * Captionator Styles *
 **********************/
 
/*
 * Pass clicks through captionator.DIV.element to the underlying video
*/
.captionator-cue-canvas {
    pointer-events:none;
    color: #FFFFFF;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/

.fl-theme-uio-wb .ui-state-active .ui-button-text,
.fl-theme-uio-wb .ui-state-active .ui-icon,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #fff !important;
}

.fl-theme-uio-bw .ui-state-active .ui-button-text,
.fl-theme-uio-bw .ui-state-active .ui-icon,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-icon,
.fl-theme-uio-by .ui-state-active .ui-button-text,
.fl-theme-uio-by .ui-state-active .ui-icon,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-icon {
    background-color: #000 !important;
}

.fl-theme-uio-yb .ui-state-active .ui-button-text,
.fl-theme-uio-yb .ui-state-active .ui-icon,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #ff0 !important;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/
.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller {
    background-color: black !important;
}

.fl-theme-uio-wb .fl-videoPlayer-controller,
.fl-theme-uio-yb .fl-videoPlayer-controller,
.fl-theme-uio-wb .fl-videoPlayer-button,
.fl-theme-uio-yb .fl-videoPlayer-button {
    background-color: black;
}

.fl-theme-uio-wb .fl-videoPlayer-caption-captionText,
.fl-theme-uio-yb .fl-videoPlayer-caption-captionText {
    background-color: black;
}

.fl-theme-uio-bw .fl-videoPlayer-caption-captionText,
.fl-theme-uio-by .fl-videoPlayer-caption-captionText {
    color: black;
}

.fl-theme-uio-wb .fl-videoPlayer-caption-captionText {
    color: white;
}

.fl-theme-uio-bw .fl-videoPlayer-caption-captionText {
    background-color: white;
}

.fl-theme-uio-by .fl-videoPlayer-caption-captionText {
    background-color: yellow;
}

.fl-theme-uio-yb .fl-videoPlayer-caption-captionText {
    color: yellow;
}

.fl-theme-uio-bw .fl-videoPlayer-transcript-element-highlight {
    background-color: black !important;
    color: white !important;
}

.fl-theme-uio-wb .fl-videoPlayer-transcript-element-highlight {
    background-color: white !important;
    color: black !important;
}

.fl-theme-uio-yb .fl-videoPlayer-transcript-element-highlight {
    background-color: yellow !important;
    color: black !important;
}

.fl-theme-uio-by .fl-videoPlayer-transcript-element-highlight {
    background-color: black !important;
    color: yellow !important;
}


/* Play button */
.fl-theme-uio-bw .fl-videoPlayer-play,
.fl-theme-uio-by .fl-videoPlayer-play {
    background-image: url('../images/black/play.png');
}

.fl-theme-uio-bw .fl-videoPlayer-play:hover,
.fl-theme-uio-by .fl-videoPlayer-play:hover {
    background-image: url('../images/black/play_hover.png');
}

.fl-theme-uio-yb .fl-videoPlayer-play {
    background-image: url('../images/yellow/play.png');
}

.fl-theme-uio-yb .fl-videoPlayer-play:hover {
    background-image: url('../images/yellow/play_hover.png');
}

.fl-theme-uio-wb .fl-videoPlayer-play {
    background-image: url('../images/white/play.png');
}

.fl-theme-uio-wb .fl-videoPlayer-play:hover {
    background-image: url('../images/white/play_hover.png');
}

.fl-theme-uio-bw .fl-videoPlayer-playing,
.fl-theme-uio-by .fl-videoPlayer-playing {
    background-image: url('../images/black/pause.png');
}

.fl-theme-uio-bw .fl-videoPlayer-playing:hover,
.fl-theme-uio-by .fl-videoPlayer-playing:hover {
    background-image: url('../images/black/pause_hover.png');
}

.fl-theme-uio-yb .fl-videoPlayer-playing {
    background-image: url('../images/yellow/pause.png');
}

.fl-theme-uio-yb .fl-videoPlayer-playing:hover {
    background-image: url('../images/yellow/pause_hover.png');
}

.fl-theme-uio-wb .fl-videoPlayer-playing {
    background-image: url('../images/white/pause.png');
}

.fl-theme-uio-wb .fl-videoPlayer-playing:hover {
    background-image: url('../images/white/pause_hover.png');
}


/* Fullscreen button */

.fl-theme-uio-bw .fl-videoPlayer-fullscreen,
.fl-theme-uio-by .fl-videoPlayer-fullscreen {
    background-image: url('../images/black/fullscreen.png');
}

.fl-theme-uio-bw .fl-videoPlayer-fullscreen:hover,
.fl-theme-uio-by .fl-videoPlayer-fullscreen:hover {
    background-image: url('../images/black/fullscreen_hover.png');
}

.fl-theme-uio-yb .fl-videoPlayer-fullscreen {
    background-image: url('../images/yellow/fullscreen.png');
}

.fl-theme-uio-yb .fl-videoPlayer-fullscreen:hover {
    background-image: url('../images/yellow/fullscreen_hover.png');
}

.fl-theme-uio-wb .fl-videoPlayer-fullscreen {
    background-image: url('../images/white/fullscreen.png');
}

.fl-theme-uio-wb .fl-videoPlayer-fullscreen:hover {
    background-image: url('../images/white/fullscreen_hover.png');
}

.fl-theme-uio-bw .fl-videoPlayer-fullscreen-on,
.fl-theme-uio-by .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/black/smallscreen.png');
}

.fl-theme-uio-bw .fl-videoPlayer-fullscreen-on:hover,
.fl-theme-uio-by .fl-videoPlayer-fullscreen-on:hover {
    background-image: url('../images/black/smallscreen_hover.png');
}

.fl-theme-uio-yb .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/yellow/smallscreen.png');
}

.fl-theme-uio-yb .fl-videoPlayer-fullscreen-on:hover {
    background-image: url('../images/yellow/smallscreen_hover.png');
}

.fl-theme-uio-wb .fl-videoPlayer-fullscreen-on {
    background-image: url('../images/white/smallscreen.png');
}

.fl-theme-uio-wb .fl-videoPlayer-fullscreen-on:hover {
    background-image: url('../images/white/smallscreen_hover.png');
}

/* Volume button */
.fl-theme-uio-bw .fl-videoPlayer-mute,
.fl-theme-uio-by .fl-videoPlayer-mute {
    background-image: url('../images/black/volume.png');
}

.fl-theme-uio-yb .fl-videoPlayer-mute {
    background-image: url('../images/yellow/volume.png');
}

.fl-theme-uio-wb .fl-videoPlayer-mute {
    background-image: url('../images/white/volume.png');
}

.fl-theme-uio-bw .fl-videoPlayer-muted,
.fl-theme-uio-by .fl-videoPlayer-muted {
    background-image: url('../images/black/volume_off.png');
}

.fl-theme-uio-yb .fl-videoPlayer-muted {
    background-image: url('../images/yellow/volume_off.png');
}


.fl-theme-uio-wb .fl-videoPlayer-muted {
    background-image: url('../images/white/volume_off.png');
}

/* Captions and transcripts */
.fl-theme-uio-bw .fl-videoPlayer-captions-button,
.fl-theme-uio-by .fl-videoPlayer-captions-button {
    background-image: url('../images/black/captions.png');
}

.fl-theme-uio-bw .fl-videoPlayer-captions-button:hover,
.fl-theme-uio-by .fl-videoPlayer-captions-button:hover {
    background-image: url('../images/black/captions_hover.png');
}

.fl-theme-uio-yb .fl-videoPlayer-captions-button {
    background-image: url('../images/yellow/captions.png');
}

.fl-theme-uio-yb .fl-videoPlayer-captions-button:hover {
    background-image: url('../images/yellow/captions_hover.png');
}

.fl-theme-uio-wb .fl-videoPlayer-captions-button {
    background-image: url('../images/white/captions.png');
}

.fl-theme-uio-wb .fl-videoPlayer-captions-button:hover {
    background-image: url('../images/white/captions_hover.png');
}

.fl-theme-uio-bw .fl-videoPlayer-transcripts-button,
.fl-theme-uio-by .fl-videoPlayer-transcripts-button {
    background-image: url('../images/black/transcript.png');
}

.fl-theme-uio-bw .fl-videoPlayer-transcripts-button:hover,
.fl-theme-uio-by .fl-videoPlayer-transcripts-button:hover {
    background-image: url('../images/black/transcript_hover.png');
}

.fl-theme-uio-yb .fl-videoPlayer-transcripts-button {
    background-image: url('../images/yellow/transcript.png');
}

.fl-theme-uio-yb .fl-videoPlayer-transcripts-button:hover {
    background-image: url('../images/yellow/transcript_hover.png');
}

.fl-theme-uio-wb .fl-videoPlayer-transcripts-button {
    background-image: url('../images/white/transcript.png');
}

.fl-theme-uio-wb .fl-videoPlayer-transcripts-button:hover {
    background-image: url('../images/white/transcript_hover.png');
}
