.fl-videoPlayer {
    position: relative;
}

.fl-videoPlayer-controller {
    background-color:rgba(0, 0, 0, 0.65);
    bottom:0;
    width:100%;
    height:7%;
    padding: auto;
    overflow:hidden;
    position:absolute;
}
.fl-videoPlayer-controller button {
    border:medium none;
    border-radius:4px 4px 4px 4px;
    cursor:pointer;
    float:left;
    height:16px;
    margin:3px 0 0 10px;
    text-indent:-2000px;
    width:16px;
}



.fl-videoPlayer-state-play {
    background:transparent url(../images/play.png) no-repeat center center;
}
.fl-videoPlayer-state-pause {
    background:transparent url(../images/pause.png) no-repeat center center;
}

.flc-videoPlayer-controller-time {
    color:white;
    float:left;
    font:bold 1em Tahoma,Arial,Helvetica,sans-serif;
    margin:0 3px;
    padding:0 10px;
    width:auto;
}

.fl-player-scrubber {
    float:left;
    margin-top:3px;
    width:75%;
}


.fl-player-caption {
	width:100%;
    bottom:55px;
/*	padding:.25em 0; */
	color:white;
	background: rgba(255, 255, 255, 0.2);
	font:bold 1.25em Tahoma, Arial, Helvetica, sans-serif;
	text-align:center;
    position:absolute;
    text-shadow:1px 1px 4px #000000;
}

/* Mods for the slider to look more like a scrubber */
.fl-theme-coal .ui-corner-all {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.fl-theme-coal .ui-slider-horizontal .ui-slider-handle {
    margin-left:0;
    top:-0.05em;
}
.fl-theme-coal .ui-slider .ui-slider-handle {
    height: 0.6em;
    width: 0.6em;
    margin-top: 0.06em;
}
