/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
}

/*
* Video area
*/

.fl-videoPlayer-video {
	width: 100%;
	height: 100%;
}

/*
 * Controller area
 */
 
.fl-videoPlayer-controller {
    width:100%;
    margin: 10px;
    text-align: center;
}

.fl-videoPlayer-controller * {
    display: inline-block;
    margin: auto;
}

.fl-videoPlayer-controller-time {
    /*margin: 0 5px;
    */padding: 0.4em;
    line-height: 1.4;
    font-size: 1.1em;
    height: 100%;
    text-align: center;
}

.fl-videoPlayer-controller-scrubberContainer {
    width: 100%;
}
.fl-videoPlayer-controller-scrubberContainer * {
    margin: auto;
    display: inline-block;
}

.fl-videoPlayer-controller-volumeControl {
    display: block;
    position: absolute;
    bottom: -40px;
    z-index: 101;   /* To make our div showin on top since captionator has 100 so */
}

.fl-videoPlayer-controller-menu-captions {
    display: block;
    position: absolute;
    bottom: -40px;
    z-index: 101;   /* To make our div showin on top since captionator has 100 so */
}


/*
* mods to the coal theme
*/

.fl-videoPlayer-controller-scrubber {
    width: 60%;
}

/*
*Allow clicking through captionator.DIV.element
*/

.captionator-cue-canvas {
    pointer-events:none;
}

/***********************************************************
 * Styling overrides for the controls when using UIO themes
 ***********************************************************/

.fl-theme-uio-wb .ui-state-active .ui-button-text,
.fl-theme-uio-wb .ui-state-active .ui-icon,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-wb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #fff !important;
}

.fl-theme-uio-bw .ui-state-active .ui-button-text,
.fl-theme-uio-bw .ui-state-active .ui-icon,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-bw .ui-state-default.ui-state-hover .ui-icon,
.fl-theme-uio-by .ui-state-active .ui-button-text,
.fl-theme-uio-by .ui-state-active .ui-icon,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-by .ui-state-default.ui-state-hover .ui-icon {
    background-color: #000 !important;
}

.fl-theme-uio-yb .ui-state-active .ui-button-text,
.fl-theme-uio-yb .ui-state-active .ui-icon,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-button-text,
.fl-theme-uio-yb .ui-state-default.ui-state-hover .ui-icon {
    background-color: #ff0 !important;
}