/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
    color:white;
    font:bold Tahoma,Arial,Helvetica,sans-serif;
}

/*
* Video area
*/

.fl-videoPlayer-video {
}

/*
 * Controller area
 */
 
.fl-videoPlayer-controller {
    background-color: rgb(0,0,0);
    width:100%;
    height: 6%;
    position: absolute;
    bottom: 0;
    padding-top:2%;
}
.fl-videoPlayer-controller button {
    float:left;
    width:5%;
    border : none;
    text-indent:-1000px;
    cursor:pointer;
    margin-top:-1px;
}

.fl-videoPlayer-state-play {
    background:transparent url(../images/play.png) no-repeat center center;
}
.fl-videoPlayer-state-pause {
    background:transparent url(../images/pause.png) no-repeat center center;
}

.fl-videoPlayer-controller-time {
    float:left;
    text-align:center;
    width:7%;
}

.fl-videoPlayer-controller-scrubber {
    float:left;
    width: 70%;
    text-indent: -1000px;
}

.fl-videoPlayer-controller-volume {
    background:transparent url(../images/volume3.png) no-repeat center center;

}

.fl-videoPlayer-state-captionOn {
    background:transparent url(../images/captionOff.png) no-repeat center center;
}


.fl-videoPlayer-state-captionOff {
    background:transparent url(../images/captionOn.png) no-repeat center center;
}

/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    bottom:10%;
    position: absolute;
    text-align:center;
    width:100%;
}

/*
* mods to the coal theme
*/
.fl-theme-coal .ui-corner-all {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.fl-theme-coal .ui-slider .ui-slider-handle {
    position: absolute;
    width:2.5%;
}
