/*
 * Videoplayer container
 */

.fl-videoPlayer {
    position: relative;
    color: white;
    font: bold Tahoma,Arial,Helvetica,sans-serif;
}

/*
* Video area
*/

.fl-videoPlayer-video {
}

/*
 * Controller area
 */
 
.fl-videoPlayer-controller {
    background-color: rgb(0,0,0);
    width:100%;
    height: 6%;
    position: absolute;
    bottom: 0;
    padding-top:2%;
}

.fl-videoPlayer-controller button {
    float:left;
    width:5%;
    border : none;
    text-indent:-1000px;
    cursor:pointer;
    margin-top:-1px;
}

.fl-videoPlayer-state-play {
    background:transparent url(../images/play.png) no-repeat center center;
}

.fl-videoPlayer-state-pause {
    background:transparent url(../images/pause.png) no-repeat center center;
}

.fl-videoPlayer-state-fullscreenOn {
    background:transparent url(../images/fullscreen.png) no-repeat center center;
}

.fl-videoPlayer-state-fullscreenOff {
    background:transparent url(../images/fullscreen.png) no-repeat center center;
}

.fl-videoPlayer-controller-time {
    float:left;
    text-align:center;
    width:7%;
}

.fl-videoPlayer-controller-scrubber {
    float:left;
    width: 65%;
    text-indent: -1000px;
    z-index: 1;
}

.fl-videoPlayer-controller-volume {
    background:transparent no-repeat center center;
    background-image: url(../images/volume2.png);
}

.fl-videoPlayer-controller-volumeControl {
    text-indent: -1000px;
    float: left;
    display: none;
    margin-top: -90px;
    text-indent: -1000px;
    opacity: 0.5;
    cursor: pointer;
    width: 5%;
    z-index: 1;
}

.fl-videoPlayer-state-captionOn {
    background:transparent url(../images/captionOn.png) no-repeat center center;
}


.fl-videoPlayer-state-captionOff {
    background:transparent url(../images/captionOff.png) no-repeat center center;
}

/*
 * Caption area
 */
 
.fl-videoPlayer-captionArea {
    bottom:10%;
    position: absolute;
    text-align:center;
    width:100%;
}

.fl-videoPlayer-caption-captionText {
    display: none;
}

/*
* mods to the coal theme
*/
/*.fl-theme-coal .ui-corner-all {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}*/

.fl-theme-coal .fl-videoPlayer-controller-scrubber .ui-slider-handle {
 /*   position: absolute;
    width: 2%;
    margin-left: -0.2%;
    height: 100%;
    margin-top: -0.2%;*/
}

.fl-theme-coal .fl-videoPlayer-controller-volumeControl .ui-slider-handle {
 /*   left: 0;
    height:15.5%;
    position:absolute;
    width:90.5%;*/
}
