body {
    background: url("images/bg-iceberg.jpg") repeat-x #0E1734;
    font-family: "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    color: #333333;
    font-size: .9em;
    line-height: 1.4em;
}

nav li {
    display: inline;
}

li.last {
    border: none;
}

.fl-panelBar {
    background-image: url("images/bg-header.png");
}

h1, h2, h3 {
    color: #2296BC;
}

p {
    padding-bottom: 1em;
}

a {
    color: #2296BC;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}


/* Header styles */
header {
    color: #FFFFFF;
    padding: 1em;
}

header, .content, footer {
    max-width: 60em;
    width: 90%;
    margin: auto;
}

header li {
    border-right: .1em solid #333333;
    padding-right: .5em;
    margin-left: .3em;
}

.logo {
    float: left;
}

.top-nav {
    width: 55%;
    margin-top: 2.2em;
    float: right;
    font-size: .9em;
    text-align: center;
}

.search {
    margin-top: 1.7em;
    float: right;
}

#search-field {
    background: url("images/search.png") no-repeat #FFFFFF;
    border-radius: .25em;
    font-size: .8em;
    padding: .3em;
    padding-left: 2em;
}



/* Content styles */
.content {
    border-radius: .7em;
    background-color: #FFFFFF;
    padding: 1.3em;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em 0 1em 0;
}

h2 {
    font-size: 1.25em;
    font-weight: 700;
    padding-top: 1.2em;
    padding-bottom: .5em;
}

h3 {
    padding-top: .8em;
    padding-bottom: .4em;
}
section, aside {
    border-bottom: .08em solid #808080;
    padding-bottom: 1.2em;
}

.breadcrumbs {
    font-size: .88em; 
}

.fl-videoPlayer {
    max-width: 100%;
    margin: auto;
    padding: 3em;
    background-color: #000000;
}

.pic {
    background-color: #F3F3F3;
    border: .1em solid #DDDDDD;
    margin: auto;
    margin-bottom: 2em;
    max-width: 21%;
    padding: .75em;
    font-size: .75em;
    text-align: center;
}

.pic img {
    max-width: 100%;
}

.resources li {
    padding: .5em;
}

.resources .desc {
    display: block;
}

.standards ul {
    padding-bottom: .5em;
}

.standards li {
    list-style: disc inside none;
    padding-left: 1.5em;
}

.author, .copyright {
    padding-top: 1em;
    font-style: italic;
    font-size: .9em;
}


/* Footer styles */

footer {
    padding-top: 2em;
    padding-bottom: 3.5em;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
    font-size: .75em;
    border-right: .1em solid #FFFFFF;
    padding: .5em;
}

footer a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
