.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    min-height: 1em;
}
.fl-prefsEditor-separatedPanel .fl-panelBar button {
    text-transform: uppercase;
    font-size: 0.8em;
}
.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-reset {
    border-right: 1px solid #CCCCCC;
}